# vim: ft=sh
alias ll='ls -lh --color'
alias la='ls -lah --color'
alias cp='cp -i'
alias mv='mv -i'
alias ..='cd ..'

# Extra
alias toclean="find . -regextype posix-basic -regex '^.*\(\.\(swp\|pyc\|swo\)\|~\)$'"
alias e='eval $(echo "export $(tmux show-environment | grep SSH_AUTH)")'
