# vim: ft=sh
alias ll='ls -lh --color'
alias la='ls -lah --color'
alias cp='cp -i'
alias mv='mv -i'
alias ..='cd ..'
alias grep='grep --color=always'

# Clean Python & Vim files
alias toclean="find . -regextype posix-basic -regex '^.*\(\.\(swp\|pyc\|swo\)\|~\)$'"
