#!/bin/bash

# Make vim the default editor
export EDITOR=$(which vim)

# Prefer GB English and use UTF-8
export LANG="en_GB.UTF-8";
export LC_ALL="en_GB.UTF-8";

# Python virtualenvwrapper
export WORKON_HOME="${HOME}/.venvs"
# Untracked files do not make git status dirty
export DISABLE_UNTRACKED_FILES_DIRTY="true"
export PROJECTS="${HOME}/code"

export PATH=${HOME}/.local/bin:${PATH}
export GOPATH="${PROJECTS}/go"

if [[ -z $SHELL_LOADED ]]; then
    export SHELL_LOADED=$(basename ${SHELL})
fi

# History configuration
export HISTSIZE=50000000;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;
export HISTFILE="${HOME}/.${SHELL_LOADED}_history"
